//
//
// Стили для футера главной страницы 

.main-footer {
  @include container();
  padding-top: 45px;
  background: #fff;
  text-align: center;
  font-family: $font-stack;
  color: $text-color;

  &__title {
    margin-bottom: 40px;

    font-size: $font-size + 10px;
    font-weight: $weight-light;
  }

  &__title-item {
    margin: 0;
  }

  &__title-item:first-child {
    margin-bottom: 10px;
  }

  &__contacts {
    margin-bottom: 30px;
  }

  &__contacts-header {
    margin: 0;
    margin-bottom: 5px;

    font-size: $font-size + 4px;
    font-weight: $weight-bold;
  }

  &__contacts-item {
    margin: 0;

    font-size: $font-size + 10px;
    font-weight: $weight-light;
    color: $pink-color;
  }

  &__map {
    position: relative;
    height: 220px;
    z-index: 1;
    background: #f3f1ea url('../img/main-map.jpg') no-repeat 50% 100%;
  }

  &__map::before {
    content: "";

    position: absolute;
    top: -6px;
    right: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 47px;

    background: url('../img/mask_main-map.png') no-repeat 50% 100%;
  }

}


//
//
// Стили для футера внутренних страницы 

.inner-footer {
  @include container();
  text-align: center;

  &__logo {
    margin-bottom: 40px;
  }

  &__logo img {
    width: 145px;      // На всякий случай
    height: 40px;
  }

  &__social {
    font-size: 0;     // Убираем лишние пробелы у инлайн-блоков
    margin-bottom: 40px;
  }

  &__copyright {
    margin-bottom: 45px;
    font-size: 0;     // Убираем лишние пробелу у инлайн-блоков
  }

  &__copyright p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 15px;

    font-size: $font-size;
    line-height: $line-height - 6px;
    color: $text-color;
  }

  &__copyright a {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;

  background: white url('../img/logo_htmla.png') no-repeat 50% 50%;
  }
}
