//
//
// Стили для хедера главной страницы 

.main-header {
  background: $bg-pic-header url('../img/background-mobile@1x.jpg') no-repeat 50% 0%;
  color: #fff;

  &__nav-wrap {
    margin-bottom: 30px;
    background: rgb(0, 0, 0);      // Для IE8
    background: rgba(0, 0, 0, .3);
  }

  &__top {
    @include container();  // Центровка и ширина
    @include clearfix();   // Псевдораспорка для флоат-элементов
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;    // Вложен абсолютный элемент &__menu--visible
  }

  &__logo-wrap {
    float: left;
    width: 150px;
  }

  &__toggle-wrap {
    float: right;
    max-width: 70px;
  }

  &__menu {
    @include container();
    display: none;        // По дефолту навигация скрыта в гамбургере
  }

  &__menu--visible {      // НЕДОДЕЛАНО
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50;
  }

  &__title {               // Элемент с заголовком для главной страницы
    @include container();  // Центровка и ширина
    padding-bottom: 320px;
    text-align: center;
  }

  &__title--inner-page {   // Для внутренних страниц
    padding-bottom: 60px;
  }

}


@media (min-width: $screen_md) {
  .main-header {
    background: $bg-pic-header url('../img/background-tablet@1x.jpg') no-repeat 50% 0%;

    &__nav-wrap {
      margin-bottom: 100px;
    }

    &__nav-wrap--inner-page {
      margin-bottom: 90px;
    }

    &__top {
      @include container--tablet();
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__menu {
      @include container--tablet();
    }

    &__menu--visible {
      // Доделать появляющееся меню
    }

    &__title {
      @include container--tablet();
      padding-bottom: 40px;
    }

    &__title--inner-page {
      padding-bottom: 90px;
    }
  }
}