//
//
// Блок загрузки приложения

.download-app {
  padding-top: 28px;
  padding-bottom: 30px;

  background: $bg-dark;
  text-align: center;

  &__inner {
    @include container(); // Центровка и ширина
  }

  &__btn {
    display: block;
    margin-bottom: 30px;
    padding: 15px 35px;
    border: 3px solid #fff;
    border-radius: 50px;

    font-size: $font-size + 4px;
    line-height: $line-height - 6px;
    font-family: $font-stack;
    font-weight: $weight-bold;
    text-decoration: none;

    color: #fff;
    outline: none;
    cursor: pointer;
  }

  &__btn:hover {
    color: $pink-color;
    background: white;
  }

  &__btn:active {
    color: $pink-color;
    background: white;
    opacity: 0.3;
  }

  &__sys-logos {
    margin-bottom: 13px;
    vertical-align: center;
    font-size: 0;           // Сброс доп. пробелов у инлайн-блоков
    text-align: center;
  }

  &__sys-logo {
    display: inline-block;
    margin-right: 35px;
    width: 50px;
  }

  &__sys-logo img {
    width: 46px;
    height: 57px;
  }

  &__sys-logo:last-child {
    margin-right: 0;        // Убираем отступ у последнего элемента в ряду
  }

  &__info {
    margin: 0;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
  }
}

@media (min-width: $screen_md) {
  .download-app {
    padding-top: 0;
    padding-bottom: 100px;
    background: none;
    text-align: left;

    &__inner {
      @include container--tablet();
    }

    &__btn {
      display: inline-block;
      margin-bottom: 45px;
    }

    &__sys-logos {
      margin-bottom: 42px;
      width: 300px;
    }

    &__info {
      font-size: $font-size + 4px;
      text-align: center;
      width: 300px;
    }
  }
}

@media (min-width: $screen_lg) {
  .download-app {
    padding-bottom: 124px;

    &__inner {
      @include container--desktop();
    }

    &__btn {
      margin-bottom: 66px;
    }

    &__sys-logos {
      margin-bottom: 61px;
    }
  }
}