//
//
// Промо блок с преимуществами

.features {
  padding-top: 45px;
  padding-bottom: 280px;
  background-color: white;
  background-image: 
    url('../img/iphone-screen-mobile-3@1x.png'),
    url('../img/iphone-case-mobile@1x.png'),
    url('../img/bg_grey.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center bottom, 50% -30%;
  background-size: 140px auto, 160px auto, auto;
  text-align: center;

  &__preview-wrap {
    @include container();  // Центровка и ширина
  }

  &__preview {
    margin: 0;
    margin-bottom: 45px;

    font-size: $font-size + 10px;
    line-height: $font-size + 10px;
    font-family: $font-stack;
    font-weight: $weight-light;

    color: $navy-color;
  }

  &__preview:nth-child(2) {
    margin-bottom: 120px;
  }

  &__items-wrap {
    @include container();
  }

  &__item {
    margin-bottom: 38px;
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;

    font-size: $h2-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-bold;

    color: #000;
  }

  &__text {
    margin: 0;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-normal;

    color: $navy-color;
  }
}


//
// Телефон и изображение на его экране
// для ретины
@media (min-resolution: 1.5dppx) {
  .features {
    background-image: 
      url('../img/iphone-screen-mobile-3@2x.png'),
      url('../img/iphone-case-mobile@2x.png'),
      url('../img/bg_grey.png');
  }
}

@media (min-width: $screen_md) {
  .features {
    padding-top: 60px;
    padding-bottom: 1px;
    background-image:
      url('../img/bg_grey-tablet.png');
    background-repeat: no-repeat;
    background-position: 50% -60%;
    background-size: auto;

    &__preview-wrap {
      @include container--tablet();
    }

    &__preview {
      margin: 0 auto;
      font-size: $font-size + 26px;
      line-height: $font-size + 26px;
    }

    &__preview:nth-child(2) {
      width: 350px;
      margin-bottom: 0px;
    }

    &__items-wrap {
      @include container--tablet();
      padding-top: 130px;
      background-image: 
        url('../img/iphone-screen-tablet-3@1x.png');
      background-repeat: no-repeat;
      background-position: 10% bottom;
      background-size: 268px auto;
    }

    &__item {
      width: 50%;
      padding-left: 50%;
      padding-bottom: 42px;
      margin-bottom: 0;
      text-align: left;
    }
  }

//
// Телефон и изображение на его экране
// для ретины
  @media (min-resolution: 1.5dppx) {
    .features__items-wrap {
      background-image: 
        url('../img/iphone-screen-tablet-3@2x.png');
    }
  }
}

@media (min-width: $screen_lg) {
  .features {
    padding-top: 80px;
    background: url('../img/bg_grey-fullsize.png') no-repeat 50% -55%;

    &__preview-wrap {
      @include container--desktop();
    }

    &__preview {
      font-size: $font-size + 36px;
      line-height: $font-size + 36px;
    }

    &__preview:nth-child(2) {
      margin-bottom: 380px;
      width: 460px;
    }

    &__items-wrap {
      @include container--desktop();
      @include clearfix();
      background: none;
    }

    &__item {
      float: left;
      width: 300px;
      padding-left: 0;
      padding-bottom: 0;
      margin-right: 20px;
      position: relative;
      text-align: center;
    }

    &__item:nth-child(3) {
      margin-right: 0;
    }

    &__item::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -303px;
      margin-left: -50%;

      width: 300px;
      height: 302px;

      background-color: transparent;
      background-image: url('../img/iphone-screen-desktop-1@1x.png');
      background-repeat: no-repeat;
      background-size: 292px 302px;
    }

    &__item:nth-child(2)::before {
      background-image: url('../img/iphone-screen-desktop-2@1x.png');
    }

    &__item:last-child::before {
      background-image: url('../img/iphone-screen-desktop-3@1x.png');
    }

    &__title {
      padding-top: 60px;
      margin-bottom: 30px;

      font-size: $h2-size + 12px;
      line-height: $line-height + 6px;
    }

    &__text {
      width: 275px;
      font-size: $font-size + 4px;
      line-height: $line-height + 6px;
    }
  }

  //
  // 
  // 3 картинки телефона для ретины
  @media (min-resolution: 1.5dppx) {
    .features__item::before {
      background-image: 
        url('../img/iphone-screen-desktop-1@2x.png');
    }

    .features__item:nth-child(2)::before {
      background-image: 
        url('../img/iphone-screen-desktop-2@2x.png');
    }

    .features__item:last-child::before {
      background-image: 
        url('../img/iphone-screen-desktop-3@2x.png');
    }
  }
}
