//
//
// Блок формы с полями для ФИО

.fieldset-name {
  @include container();
  padding-bottom: 25px;
  border: none;

  &__item {
    margin-bottom: 18px;
  }

  & label {
    display: block;
    padding-left: 23px;
    margin-bottom: 7px;
  }
}

@media (min-width: $screen_md) {
  .fieldset-name {
    @include container--tablet();
    padding-bottom: 42px;
  }
}

@media (min-width: $screen_lg) {
  .fieldset-name {
    @include container--desktop();
    padding-bottom: 0px;

    &__item {
      float: left;
      width: 300px;
      margin-right: 20px;
      margin-bottom: 52px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}