//
//
// Блок формы для загрузки фотографий

.fieldset-photos {
    @include container();
    border: none;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__upload-photo {
    padding-bottom: 33px;
    margin-bottom: 35px;
    border-bottom: 2px solid #e5e5e5;

    position: relative; // Для input[type="file"]
    overflow: hidden;
  }

  &__upload-photo button {
    padding: 15px 0px;

    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    outline: none;

    font-weight: $weight-bold;
    color: $text-color;
    background: white;
    text-transform: uppercase;
  }

  &__upload-photo button:hover {
    border-color: $text-color;
  }

  &__upload-photo button:active {
    border-color: $text-color;
    background: $text-color;
    color: white;
  }

  &__upload-photo input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
  }

  &__photos {
    @include clearfix();
  }

  &__photo {
    float: left;
    position: relative;
    margin-right: 39px;
    margin-bottom: 23px;
    width: 67px;
  }

  &__photo:nth-child(3n) {
    margin-right: 0;  // Обнуляем правый маргин у каждой 3-ей фотки
  }

  &__delete {   // Крестик для удаления фото
    position: absolute;
    right: -14px;
    top: -14px;
    width: 28px;
    height: 28px;

    border: 2px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    background: white;
  }

  &__delete-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
  }

  &__delete:hover {
    border-color: $text-color;
  }

  &__delete:hover .fieldset-photos__delete-cross-part {
    fill: $text-color;
  }

  &__delete:active {
    background: $text-color;
  }

  &__delete:active .fieldset-photos__delete-cross-part {
    fill: white;
  }

  &__photo img {  // На всякий случай
    width: 67px;
    height: 68px;
  }

  &__photo span {
    width: 100%;
    font-size: $font-size - 2px;
    line-height: $line-height - 6px;
    color: $text-color;
  }
}

@media (min-width: $screen_md) {

  .fieldset-photos {
    @include container--tablet();
    padding: 0;
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    &__title {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__upload-photo {
      position: relative;
      padding-left: 58px;
      padding-bottom: 41px;
      margin-bottom: 65px;
      border-bottom: none;
    }

    &__upload-photo button {
      width: 500px;
    }

    &__upload-photo::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 58px;
      width: 500px;

      border: 1px solid #e5e5e5;
    }

    &__photos {
      padding-left: 58px;
      padding-right: 58px;
    }

    &__photo {
      margin-right: 70px;
      margin-bottom: 46px;
      width: 120px;
    }

    &__photo:nth-child(3n) {
      margin-right: 0;  // Обнуляем правый маргин у каждой 3-ей фотки
    }

    &__delete {   // Крестик для удаления фото
      right: -25px;
      top: -25px;
      width: 50px;
      height: 50px;
    }

    &__delete-cross {
      width: 20px;
      height: 20px;

      margin-left: -10px;
      margin-top: -10px;
    }

    &__photo img {  // На всякий случай
      width: 120px;
      height: 120px;
    }
  }
}

@media (min-width: $screen_lg) {

  .fieldset-photos {
    @include container--desktop();
    padding: 0;

    &__upload-photo button {
      width: 820px;
      background: $pink-color;
      border: $pink-color;
      color: white;
    }

    &__upload-photo::after {
      width: 820px;
    }

    &__photos {
      padding-bottom: 30px;
    }

    &__photo {
      margin-right: 55px;
      margin-bottom: 25px;
    }

    &__photo:nth-child(3n) {
      margin-right: 55px;
    }

    &__photo:nth-child(5n) {
      margin-right: 0;  // Обнуляем правый маргин у каждой 5-й фотки
    }
  }
}