//
//
// Блок с формой

.form {
  padding-top: 50px;

  &__info {
  @include container();  // Центровка и ширина
  padding-bottom: 37px;

  text-align: center;
  background: #fff;
  color: $text-color;
  font-size: $font-size;
  }

  &__please {
    display: none;
  }

  &__app-choice {
    background: #f2f2f2;
    padding-top: 38px;
    margin-bottom: 45px;
  }

  &__travellers {
    padding-top: 32px;
    padding-bottom: 7px;
    margin-bottom: 48px;
    background: #f2f2f2;
  }

  &__photos {
    background: #f2f2f2;
    padding-top: 32px;
    padding-bottom: 6px;
  }

  &__submit-block {
    @include container();
    padding-top: 48px;
    padding-bottom: 55px;
    text-align: center;
  }

  &__submit-block input[type="submit"] {
    margin-bottom: 36px;
    padding: 15px 0px;

    box-sizing: border-box;
    width: 100%;
    border: 2px solid #2aab6d;
    border-radius: 2px;
    outline: none;

    font-weight: $weight-bold;
    color: white;
    background: #2aab6d;
  }

  &__submit-block input[type="submit"]:hover {
    background: #1c9b5e;
    border-color: #1c9b5e;
  }

  &__submit-block input[type="submit"]:active {
    background: #1c9b5e;
    border-color: #1c9b5e;
    opacity: 0.3;
  }

  &__submit-block p {
    display: inline-block;
    margin: 0;
    font-size: $font-size;
    text-transform: uppercase;
    color: $text-color;
  }

  &__fill {
    display: none;
  }

  &__star {
    color: $pink-color;
  }
}

@media (min-width: $screen_md) {

  .form {
    padding-top: 98px;

    &__info {
    @include container--tablet();  // Центровка и ширина
    width: 495px;
    padding-bottom: 40px;
    font-size: $font-size + 4px;
    }

    &__please {
      display: inline;
    }

    &__app-choice {
      padding: 0;
      margin-bottom: 52px;
      background: white;
    }

    &__travellers {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 52px;
      background: white;
    }

    &__photos {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 65px;
      background: white;
    }

    &__submit-block {
      @include container--tablet();
      @include clearfix();
      padding: 0;
      margin-bottom: 64px;
    }

    &__submit-block input[type="submit"] {
      float: left;
      width: 300px;
      margin-bottom: 0;
    }

    &__submit-block p {
      float: right;
      max-width: 320px;
      padding-top: 15px;
    }
  }
}

@media (min-width: $screen_lg) {

  .form {

    &__info {
    @include container--desktop();  // Центровка и ширина
    width: 780px;
    padding-bottom: 68px;
    }

    &__submit-block {
      @include container--desktop();
      padding: 0;
      margin-bottom: 0;
    }

    &__fill {
      display: inline;
    }
  }
}