//
//
// Блок с кастомным радио-баттоном 

.input-radio {
  margin-bottom: 53px;

  &:last-child {
    margin-bottom: 0;
  }

  & input[type="radio"] {
    display: none;
  }

  & label {
    position: relative;

    display: inline-block;
    padding-left: 60px;

    font-size: $font-size + 4px;
    color: $navy-color;
    cursor: pointer;
    vertical-align: top;
  }

  & input[type="radio"] + label::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0px;
  
    width: 37px;
    height: 37px;

    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: white;
  }

  & input[type="radio"]:checked + label::before {
    background: url('../img/map-marker.svg') no-repeat 50% 50%
  }

  & input[type="radio"] + label:hover::before {
    border-color: $navy-color;
  }

  & input[type="radio"] + label:active::before {
    border-color: $pink-color;
  }
}

@media (min-width: $screen_md) {
  .input-radio {
    padding-left: 58px;
  }
}

@media (min-width: $screen_lg) { 
  .input-radio {
    float: left;
    width: 242px;
    margin-bottom: 0;
  }
}