//
//
// Блок текстового инпута 

.input-text {
  display: block;
  padding: 15px 20px;

  box-sizing: border-box;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  outline: none;

  font-size: $font-size + 4px;
  line-height: $line-height + 6px;
  font-weight: $weight-normal;
  font-family: $font-stack;
  color: $text-color;

  &--travellers {
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }

  &:hover {
    border-color: $text-color;
  }

  &:focus {
    border-color: $pink-color;
  }
}

@media (min-width: $screen_md) {
  .input-text--travellers {
      width: 300px;
      margin-right: 50px;
    }
}

@media (min-width: $screen_lg) {
  .input-text--travellers {
    margin-right: 20px;
  }
}