//
//
// Блок числового инпута с кнопками + и -

.number-range {
  font-size: 0;

  & input[type="number"] {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 16px 20px;

    box-sizing: border-box;
    width: 160px;
    border: 2px solid #e5e5e5;
    border-left: none;
    border-right: none;
    outline: none;
    color: $navy-color;
    font-size: $font-size + 4px;
    text-align: center;
  }

  &--travellers input[type="number"] {
    background: #f2f2f2;
  }

  &__minus, 
  &__plus {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    padding: 16px 5px;
    border: 2px solid #e5e5e5;

    font-size: 50px;
    color: $navy-color;
    cursor: pointer;
    background: white;
  }

    &__minus {
    padding-top: 12px;
    padding-bottom: 20px;
  }

  &__minus:hover, &__plus:hover {
    border-color: $navy-color;
  }

  &__minus:active, &__plus:active {
    color: white;
    background: $navy-color;
    border-color: $navy-color;
  }
}

@media (min-width: $screen_md) {
  .number-range {

    & input[type="number"] {
      width: 120px;
    }

    &--travellers input[type="number"] {
      background: white;
      border: none;
      text-align: center;
    }

    &__minus, &__plus {
      text-align: center;
    }
  }
}
