//
//
// Блок для заголовка страницы

.page-title {
  margin: 0;
  color: #fff;
  font-size: $h1-size;
  line-height: $h1-size;
  font-weight: $weight-light;
  font-family: $font-stack;
}

@media (min-width: $screen_md) {
  .page-title {
    width: 180px;
    margin-left: 60px;
    font-size: $h1-size + 16px;
    line-height: $h1-size + 16px;

  &--inner-page {
    width: 600px;
    margin: 0 auto;
    font-size: $h1-size + 26px;
    line-height: $h1-size + 26px;
    }
  }
}

@media (min-width: $screen_lg) {
  .page-title {
    width: 235px;
    margin-left: 36px;
    font-size: $h1-size + 26px;
    line-height: $h1-size + 26px;

  &--inner-page {
    width: 750px;
    margin: 0 auto;
    }
  }
}