//
//
// Блок с пагинацией в посте

.pagination-simple {
  @include container();
  margin-bottom: 59px;

  & a {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 20px;
    width: 124px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    text-align: center;

    font-size: $font-size + 4px;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $navy-color;
  }

  & a:first-child {
    margin-right: 20px;
  }

  & a:last-child {
    width: 276px;
    margin-right: 0;
    margin-bottom: 0;
  }

  & a:hover {
    border-color: $navy-color;
  }

  & a:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen_md) {
  .pagination-simple {
    @include container--tablet();
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    & a {
      margin-bottom: 0px;
      width: 137px;
    }

    & a:first-child {
      margin-right: 0px;
      order: 1;
    }

    & a:nth-child(2) {
      order: 3;
    }

    & a:last-child {
      width: 296px;
      order: 2;
    }
  }
}

@media (min-width: $screen_lg) {
  .pagination-simple {
    @include container--desktop-post-page();

    & a {
      width: 256px;
    }

    & a:last-child {
      width: 273px;
    }
  }
}