//
//
// Слайдер с отзывами

.review-slider {
  @include container();  // Центровка и ширина
  position: relative;    // Для абсолют. спозиционированых контролов
  padding-top: 50px;
  padding-bottom: 90px;
  background: #fff;
  text-align: center;
  color: $navy-color;

  &__controls-wrap {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 140px;
    height: 14px;
    margin-left: -70px;  // Для центровки
    text-align: center;
    z-index: 10;
  }

  &__control {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    background: #bec2c7;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
  }

  &__control:hover {
    background: #7e868f;
  }

  &__control:active {
    background: #e9ebec;
  }

  &__control--active {
    background: #fff;
    border-color: $navy-color;
  }

  &__control--active:hover {
    background: #fff;
  }

  &__arrow-wrap {
    display: none;
  }

  &__slides-wrap {
    height: 225px;
    position: relative;
  }

  &__slide {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__slide--active {
    display: block;
  }

  &__author {
    margin-bottom: 18px;

    font-size: $h2-size;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-bold;
    color: black;
  }

  &__author-info {
    display: none;
  }

  &__text {
    margin-bottom: 15px;

    font-size: $font-size;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-normal;
  }
}

@media (min-width: $screen_md) {
  .review-slider {
    @include container--tablet();
    padding-top: 0;
    padding-bottom: 75px;

    &__controls-wrap {
      bottom: 20px;
    }

    &__slides-wrap {
      min-height: 180px;
    }

    &__author {
      position: absolute;
      margin-bottom: 30px;
      bottom: 0px;
      left: 50%;
      width: 180px;
      margin-left: -90px;  // Для центровки
      text-align: center;

      font-size: $font-size + 6px;
    }

    &__author-info {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 180px;
      margin-left: -90px;  // Для центровки
      text-align: center;

      font-size: $font-size;
      line-height: $line-height + 6px;
      font-family: $font-stack;
      font-weight: $weight-normal;
    }

    &__text {
      font-size: $font-size + 4px;
    }
  }
}

@media (min-width: $screen_lg) {
  .review-slider {
    @include container--desktop();
    padding-top: 190px;
    padding-bottom: 34px;

    &__controls-wrap {
      display: none;
    }

    &__slides-wrap {
      width: 690px;
      margin: 0 auto;
    }

    &__slides-wrap::before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: -115px;
      margin-left: -70px;
      z-index: 100;

      width: 140px;
      height: 63px;

      background: 
        transparent url('../img/quotes.svg') no-repeat 50% 50%;
    }

    &__arrow-wrap {
      display: block;
      position: absolute;
      bottom: 37%;
      width: 60px;
      height: 50px;
      z-index: 10;
    }

    &__arrow-wrap--left {
      left: 0;
    }

    &__arrow-wrap--right {
      right: 0;
    }

    &__arrow {      // Стрелки у слайдера в svg
      fill: #bec2c7;
    }

    &__arrow-wrap:hover .review-slider__arrow {
      fill: #7e868f;
    }

    &__arrow-wrap:active .review-slider__arrow {
      fill: #e9ebec;
    }

    &__author {
      width: 210px;
      margin-left: -105px;  // Для центровки

      font-size: $font-size + 10px;
    }

    &__author-info {
      width: 228px;
      margin-left: -114px;  // Для центровки
      font-size: $font-size + 4px;
    }

    &__text {
      font-size: $font-size + 4px;
    }
  }
}