//
//
// Стили для хедера 

.main-header {
  background-color: $bg-pic-header;
  background-image: 
    url('../img/iphone-hand-mobile.png'),
    url('../img/background-mobile@1x.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center 41%, 50% 0%;
  background-size: 258px 286px, 700px auto;
  color: #fff;

  // Для хедера внутренних страниц
  &--inner-page {
    background-image: url('../img/background-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  &__nav {
    margin-bottom: 30px;
    background: rgb(0, 0, 0);      // Для IE8
    background: rgba(0, 0, 0, .3);
  }

  &__nav-inner {
    @include container();  // Центровка и ширина
    @include clearfix();   // Псевдораспорка для флоат-элементов
    padding: 24px;
    position: relative;    // Вложен абсолютный блок main-nav--visible
  }

  &__nav-inner--menu-visible {  // Когда раскрыто меню в мобильной и 
    background: $navy-color;    // планшетной версиях
    border-bottom: 1px solid #000101;
    padding: 24px;
  }

  &__logo-wrap {
    float: left;
    width: 150px;
  }

  &__toggle-wrap {  // обёртка для иконок бургера и крестика
    float: right;
    max-width: 70px;
  }

  &__title {               // Элемент с заголовком для главной страницы
    @include container();  // Центровка и ширина
    padding-bottom: 320px;
    text-align: center;
  }

  &__title--inner-page {   // Для внутренних страниц
    padding-bottom: 60px;
  }
}


@media (min-resolution: 1.5dppx) {
  .main-header {
    background-image: 
      // фон и рука с телефоном для ретины
      url('../img/iphone-hand-mobile@2x.png'),
      url('../img/background-mobile@2x.jpg');

    &--inner-page {
      background-image: url('../img/background-mobile@2x.jpg');
      background-size: 700px auto;
    }
  }
}


//
//
//Стили для планшетной версии
@media (min-width: $screen_md) {
  .main-header {
    background-image: 
      url('../img/iphone-hand-tablet@1x.png'),
      url('../img/background-tablet@1x.jpg');
    background-position: bottom, 50% 0%;
    background-size: 700px 545px, 1200px auto;

    &--inner-page {
      background-image: url('../img/background-tablet@1x.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0%;
  }

    &__nav {
      margin-bottom: 100px;
    }

    &__nav--inner-page {
      margin-bottom: 90px;
    }

    &__nav-inner {
      @include container--tablet();
      padding-top: 27px;
      padding-bottom: 42px;
    }

    &__toggle-wrap {
      padding-top: 17px;
    }

    &__title {
      @include container--tablet();
      padding-bottom: 40px;
    }

    &__title--inner-page {
      padding-bottom: 90px;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .main-header {
      // ретинизированное изображение фона
      background-image: 
        url('../img/iphone-hand-tablet@2x.png'),
        url('../img/background-tablet@2x.jpg');

      &--inner-page {
        background-image:
          url('../img/background-tablet@2x.jpg');
        background-size: 1200px auto;
      }
    }
  }
}

//
//
//Стили для десктопной версии
@media (min-width: $screen_lg) {
  .main-header {
    background-image: 
      url('../img/iphone-hand-desktop@1x.png'), 
      url('../img/background-fullsize.jpg');
    background-size: 1050px 645px, 100% 100%;

    &--inner-page {
      background-image: url('../img/background-fullsize.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: 100% auto;
  }

    &__nav {
      margin-bottom: 130px;
    }

    &__nav--inner-page {
      margin-bottom: 85px;
    }

    &__nav-inner {
      @include container--desktop();
      padding-top: 27px;
      padding-bottom: 42px;
    }

    &__toggle-wrap { // прячем гамбургер
      display: none;
    }

    &__title {
      @include container--desktop();
      padding-bottom: 63px;
    }

    &__title--inner-page {
      padding-bottom: 112px;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .main-header {
      // ретинизированное изображение фона
      background-image: 
        url('../img/iphone-hand-desktop@2x.png'),
        url('../img/background-fullsize.jpg');

      &--inner-page {
        background-image:
          url('../img/background-fullsize.jpg');
      }
    }
  }
}