//
//
// Стили для хедера главной страницы 

.main-header {
  background-color: $bg-pic-header;
  background-image: 
    url('../img/iphone-hand-mobile.png'),
    url('../img/background-mobile@1x.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center 41%, 50% 0%;
  background-size: 258px 286px, 700px auto;
  color: #fff;

  &--inner-page {
    background-image: url('../img/background-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  &__nav-wrap {
    margin-bottom: 30px;
    background: rgb(0, 0, 0);      // Для IE8
    background: rgba(0, 0, 0, .3);
  }

// Верхний блок хедера
  &__top {
    @include container();  // Центровка и ширина
    @include clearfix();   // Псевдораспорка для флоат-элементов
    padding: 21px;
    position: relative;    // Вложен абсолютный элемент &__menu--visible
  }

  &__top--menu-visible {        // Когда раскрыто меню в мобильной и 
    background: $text-color;    // планшетной версиях
    border-bottom: 1px solid #000101;
    padding: 24px;
  }

  &__logo-wrap {
    float: left;
    width: 150px;
  }

  &__logo-link:hover .main-header__logo-letter {
    fill: $pink-color;
  }

  &__logo-link:active .main-header__logo-letter {
    fill: white;
    opacity: 0.3;
  }

  &__logo-tablet { // svg-лого для планшетной версии
    display: none;
  }

  &__logo-desktop { // svg-лого для десктопной версии
    display: none;
  }

  &__toggle-wrap {  // обёртка для иконок бургера и крестика
    float: right;
    max-width: 70px;
  }

  &__burger--visible { // иконка гамбургера
  display: inline;
  }

  &__burger {
    display: none;
  }

  &__toggle:hover .main-header__burger-part {
    fill: $pink-color;
  }

  &__toggle:active .main-header__burger-part {
    opacity: 0.3;
  }

  &__cross { // иконка крестика (по дефолту скрыта)
    display: none;
  }

  &__cross--visible {  // иконка крестика
    display: inline;        // появляется при открытии меню
  }

  &__toggle:hover .main-header__cross-part {
    fill: $pink-color;
  }

  &__toggle:active .main-header__cross-part {
    opacity: 0.3;
  }

  &__title {               // Элемент с заголовком для главной страницы
    @include container();  // Центровка и ширина
    padding-bottom: 320px;
    text-align: center;
  }

  &__title--inner-page {   // Для внутренних страниц
    padding-bottom: 60px;
  }
}


@media (min-resolution: 1.5dppx) {
  .main-header {
    background-image: 
      url('../img/iphone-hand-mobile@2x.png'), // фон и рука с телефоном
      url('../img/background-mobile@2x.jpg');  // для ретины

    &--inner-page {
      background-image: url('../img/background-mobile@2x.jpg');
      background-size: 700px auto;
  }
  }
}


//
//
//Стили для планшетной версии
@media (min-width: $screen_md) {
  .main-header {
    background-image: 
      url('../img/iphone-hand-tablet@1x.png'),
      url('../img/background-tablet@1x.jpg');
    background-position: bottom, 50% 0%;
    background-size: 700px 545px, 1200px auto;

    &--inner-page {
      background-image: url('../img/background-tablet@1x.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0%;
  }

    &__nav-wrap {
      margin-bottom: 100px;
    }

    &__nav-wrap--inner-page {
      margin-bottom: 90px;
    }

    &__top {
      @include container--tablet();
      padding-top: 27px;
      padding-bottom: 42px;
    }

    &__logo { // svg-лого для мобильной версии
      display: none;
  }

    &__logo-tablet { // svg-лого для планшетной версии
      display: inline;
    }

    &__logo-link:hover .main-header__logo-tablet-letter {
      fill: $pink-color;
  }

    &__logo-link:active .main-header__logo-tablet-letter {
      fill: white;
      opacity: 0.3;
    }

    &__logo-desktop { // svg-лого для десктопной версии
      display: none;
    }

    &__toggle-wrap {
      padding-top: 17px;
    }

    &__title {
      @include container--tablet();
      padding-bottom: 40px;
    }

    &__title--inner-page {
      padding-bottom: 90px;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .main-header {
      background-image: 
        url('../img/iphone-hand-tablet@2x.png'),  // фон и рука с телефоном
        url('../img/background-tablet@2x.jpg');   // для ретины

      &--inner-page {
        background-image:
          url('../img/background-tablet@2x.jpg');
        background-size: 1200px auto;
      }
    }
  }
}

//
//
//Стили для десктопной версии
@media (min-width: $screen_lg) {
  .main-header {
    background-image: 
      url('../img/iphone-hand-desktop@1x.png'), 
      url('../img/background-fullsize.jpg');
    background-size: 1050px 645px, 100% 100%;

    &--inner-page {
      background-image: url('../img/background-fullsize.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: 100% auto;
  }

    &__nav-wrap {
      margin-bottom: 130px;
    }

    &__nav-wrap--inner-page {
      margin-bottom: 85px;
    }

    &__top {
      @include container--desktop();
      padding-top: 27px;
      padding-bottom: 42px;
    }

    &__logo { // svg-лого для мобильной версии
      display: none;
  }

    &__logo-tablet { // svg-лого для планшетной версии
      display: none;
    }

    &__logo-desktop { // svg-лого для десктопной версии
      display: inline;
    }

    &__logo-link:hover .main-header__logo-desktop-letter {
      fill: $pink-color;
  }

    &__logo-link:active .main-header__logo-desktop-letter {
      opacity: 0.3;
    }

    &__toggle-wrap {
      display: none;
    }

    &__title {
      @include container--desktop();
      padding-bottom: 63px;
    }

    &__title--inner-page {
      padding-bottom: 112px;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .main-header {
      background-image: 
        url('../img/iphone-hand-desktop@2x.png'),  // фон и рука с телефоном
        url('../img/background-fullsize.jpg');   // для ретины

      &--inner-page {
        background-image:
          url('../img/background-fullsize.jpg');
      }
    }
  }
}