//
//
// Стили для футера главной страницы 

.main-footer {
  padding-top: 45px;
  background: #fff;
  text-align: center;
  font-family: $font-stack;
  color: $text-color;

  &--inner-page {
    padding-top: 0;
  }

  &__title {
    display: none;
  }

  &__title--visible {
    @include container();
    margin-bottom: 40px;
    font-size: $font-size + 10px;
    font-weight: $weight-light;
  }

  &__title-item {
    margin: 0;
  }

  &__title-item:first-child {
    margin-bottom: 10px;
  }

  &__contacts {
    display: none;
  }

  &__contacts-visible {
    @include container();
  }

  &__contacts-item {
    margin-bottom: 30px;
  }

  &__contacts-header {
    margin: 0;
    margin-bottom: 5px;
    font-size: $font-size + 4px;
    font-weight: $weight-bold;
  }

  &__contacts-info {
    //margin: 0;
    text-decoration: none;
    font-size: $font-size + 10px;
    font-weight: $weight-light;
    color: $pink-color;
  }

  &__contacts-info:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &__contacts-info:active {
    color: #ced0d2;
    text-decoration: none;
  }

  &__map {
    display: none;
  }

  &__map--visible {
    position: relative;
    height: 220px;
    z-index: 1;
    background: #f3f1ea url('../img/main-map.jpg') no-repeat 50% 70%;
  }

  &__map--visible::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 5;
    height: 47px;
    background: url('../img/mask_main-map-tablet.png') no-repeat 50% 100%;
    background-size: 100% 100%;
  }

  &__bottom {
    display: none;
  }

  &__bottom--visible {
    display: block;
  }

  &__bottom--index {  // Скрываем блок в футере главной страницы
    display: none;    // Только в мобильной версии
  }

  &__logo-wrap {
    margin-bottom: 40px;
  }

  &__logo-wrap:hover  .main-footer__logo-letter {
    fill: $pink-color;
  }

  &__logo-wrap:active  .main-footer__logo-letter {
    opacity: 0.3;
  }

  &__logo-desktop { // svg-лого для десктопной версии
    display: none;
  }

  &__social {
    margin-bottom: 40px;
    font-size: 0;     // Убираем лишние пробелы у инлайн-блоков
  }

  &__copyright {
    margin-bottom: 45px;
    font-size: 0;     // Убираем лишние пробелу у инлайн-блоков
  }

  &__copyright p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 15px;

    font-size: $font-size;
    line-height: $line-height - 6px;
    color: $text-color;
  }

  &__copyright a {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 34px;
  }

  &__copyright-logo {
    fill: $pink-color;
  }

  &__copyright:hover .main-footer__copyright-logo {
    fill: $text-color;
  }

  &__copyright:active .main-footer__copyright-logo {
    opacity: 0.3;
  }
}

@media (min-width: $screen_md) {
  .main-footer {
    padding-top: 60px;

    &--inner-page {
      padding-top: 0;
    }

    &__title--visible {
      @include container--tablet();
      margin-bottom: 35px;
      font-size: $font-size + 26px;
    }

    &__title-item {
      margin: 0;
      padding-bottom: 25px;
    }

    &__contacts--visible {
      @include container--tablet();
      position: relative;
      z-index: 10;

      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__contacts-item {
      width: 50%;
      margin-bottom: 60px;
    }

    &__contacts-item:last-child {
      margin-bottom: 10px;
    }

    &__contacts-header {
      margin-bottom: 8px;
    }

    &__map--visible {
      height: 380px;
      background-image: url('../img/main-map-tablet.jpg');
      background-position: 50% 60%;
    }

    &__map--visible::before {
      top: -30px;
      height: 123px;
      background-image: url('../img/mask_main-map-tablet.png');
      background-size: 100%;
    }

    &__bottom--visible {
      display: block;
      @include container--tablet();
      @include clearfix();
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__logo-wrap {
      float: left;
      width: 160px;
      margin-bottom: 0;
      margin-right: 60px;
    }

    &__social {
      float: left;
      width: 200px;
      margin-bottom: 0;
      font-size: 0;     // Убираем лишние пробелы у инлайн-блоков
      text-align: center;
    }

    &__copyright {
      float: right;
      max-width: 140px;
      padding-top: 10px;
      margin-bottom: 0;
      font-size: 0;     // Убираем лишние пробелу у инлайн-блоков
    }
  }
}

@media (min-width: $screen_lg) {
  .main-footer {
    padding-top: 80px;

    &--inner-page {
      padding-top: 0;
    }

    &__title--visible {
      @include container--desktop();
      margin-bottom: 40px;
      font-size: $font-size + 36px;
    }

    &__title-item {
      padding-bottom: 30px;
    }

    &__contacts--visible {
      @include container--desktop();
    }

    &__contacts-item {
      width: 33%;
      margin-bottom: 30px;
    }

    &__contacts-item:nth-child(2) {
      order: 3;
    }

    &__contacts-item:last-child {
      width: 250px;
      margin-bottom: 30px;
      order: 2;
    }

    &__contacts-header {
      margin-bottom: 30px;
    }

    &__map--visible {
      height: 522px;
      background-image: url('../img/main-map-fullsize.jpg');
      background-position: 50% 60%;
      background-size: 100%;
    }

    &__map--visible::before {
      top: -120px;
      height: 262px;
      background-image: url('../img/mask_main-map-desktop.png');
      background-size: auto 262px;
    }

    &__bottom--visible {
      @include container--desktop();
      @include clearfix();
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__logo-wrap {
      margin-right: 220px;
    }

    &__logo {
      display: none; // svg-лого для мобильной и планшетной
                     // версий по дефолту грузится оно
    }

    &__logo-desktop { // svg-лого для десктопной версии
      display: inline;
    }

    &__logo-wrap:hover  .main-footer__logo-desktop-letter {
      fill: $pink-color;
  }

    &__logo-wrap:active  .main-footer__logo-desktop-letter {
      opacity: 0.3;
  }

    &__copyright {
      max-width: 160px;
    }

    &__copyright p {
      font-size: $font-size + 4px;
    }
  }
}