//
//
// Блок с сеткой поста

.post {
  @include container();
  padding-top: 43px;

  &__preview {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
  }

  &__preview h1 {
    margin: 0;
    margin-bottom: 23px;

    font-size: $h1-size + 6px;
    line-height: $line-height + 12px;
    font-family: $font-stack;
    font-weight: $weight-bold;
    color: $navy-color;
  }

  &__preview time {
    display: block;
    margin-bottom: 20px;

    font-size: $font-size - 2px;
    line-height: $line-height + 3px;
    font-family: $font-stack;
    font-weight: $weight-normal;
    text-transform: uppercase;
    color: $pink-color;
  }

  &__preview p {
    margin: 0;
    margin-bottom: 25px;

    font-size: $font-size + 2px;
    line-height: $line-height + 3px;
    font-family: $font-stack;
    font-weight: $weight-normal;
    color: $navy-color;
  }

  &__part {
    text-align: left;
  }

  &__part h2 {
    margin: 0;
    margin-bottom: 23px;

    font-size: $h1-size - 6px;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-bold;
    text-transform: uppercase;
    color: $navy-color;
  }

  &__part p {
    margin: 0;
    margin-bottom: 33px;

    font-size: $font-size;
    line-height: $line-height + 3px;
    font-family: $font-stack;
    font-weight: $weight-normal;
    color: $navy-color;
  }

  &__part a {
    color: $pink-color;
  }

  &__part ul {
    padding-left: 20px;
    margin: 0;
    color: $pink-color;
  }

  &__part li {
    margin-bottom: 30px;
  }

  &__list-item {
    color: $navy-color;
    font-size: $font-size;
    line-height: $line-height + 3px;
    font-family: $font-stack;
    font-weight: $weight-normal;
    color: $navy-color;
  }

  &__part blockquote {
    margin: 0;
    padding-left: 20px;
    margin-bottom: 32px;
    border-left: 2px solid $pink-color;

    font-size: $font-size;
    line-height: $line-height + 3px;
    font-family: $font-stack;
    font-weight: $weight-normal;
    color: $navy-color;
  }

  &__review-author {
    display: block;
    color: #8a8a8a;
  }
}

@media (min-width: $screen_md) {
  .post {
    @include container--tablet();
    padding-top: 90px;

    &__preview {
      position: relative;
      border-bottom: 2px dotted #e5e5e5;
      margin-bottom: 55px;
    }

    &__preview h1 {
      margin-bottom: 40px;

      font-size: $h1-size + 26px;
      line-height: $line-height + 26px;
    }

    &__preview time {
      width: 300px;

      position: absolute;
      bottom: -16px;
      left: 50%;
      margin-left: -150px;
      margin-bottom: 0px;

      font-size: $font-size;
      line-height: $line-height + 6px;
      background: white;
    }

    &__preview p {
      margin-bottom: 46px;

      font-size: $font-size + 10px;
      line-height: $line-height + 16px;
    }

    &__part h2 {
      margin-bottom: 30px;

      font-size: $h1-size;
      line-height: $line-height + 6px;
    }

    &__part p {
      margin-bottom: 38px;

      font-size: $font-size + 4px;
      line-height: $line-height + 6px;
    }

    &__part p:last-child {
      margin-bottom: 63px;
    }

    &__part li {
      padding-left: 20px;
      margin-bottom: 37px;
    }

    &__list-item {
      font-size: $font-size + 4px;
      line-height: $line-height + 6px;
    }

    &__part blockquote {
      padding-left: 35px;
      margin-bottom: 63px;
      font-size: $font-size + 4px;
      line-height: $line-height + 6px;
    }
  } 
}

@media (min-width: $screen_lg) {
  .post {
    @include container--desktop-post-page();
    padding-top: 110px;

    &__preview h1 {
      font-size: $h1-size + 26px;
      line-height: $line-height + 6px;
    }

    &__preview p {
      margin-bottom: 42px;
    }
  } 
}