//
//
// Блок формы для ввода попутчиков

.fieldset-travellers {
  @include container();
  border: none;

  &__title {
    margin-bottom: 32px;
    text-align: center;

    font-size: $font-size;
    line-height: $line-height - 6px;
    text-transform: uppercase;

    color: $pink-color;
  }

  &__number {
    padding-bottom: 48px;
    margin-bottom: 30px;

    border-bottom: 2px solid #e5e5e5;
    text-align: center;
  }

  &__name {
    margin-bottom: 18px;
    font-size: 0;    // Убираем лишние пробелы у инлайн-блоков
  }

  &__name label,
  &__name span {
    display: inline-block;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 7px;

    font-size: $font-size;
    text-transform: uppercase;

    color: $pink-color;
  }

  &__delete {
    display: none;
  }

  &__nickname {
    margin-bottom: 40px;
    text-align: right;
    font-size: 0;
  }

  &__nickname label {
    display: block;
    padding-right: 115px;
    margin-bottom: 7px;

    font-size: $font-size;
    text-transform: uppercase;

    color: $pink-color;
  }
}

@media (min-width: $screen_md) {

  .fieldset-travellers {
    @include container--tablet();
    padding: 0;
    padding-bottom: 12px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    &__title {
      margin-bottom: 32px;
    }

    &__number {
      position: relative;
      padding-bottom: 41px;
      padding-left: 58px;
      border-bottom: none;
      text-align: left;
    }

    &__number::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 58px;
      width: 500px;

      border: 1px solid #e5e5e5;
    }

    &__name {
      padding-left: 58px;
    }

    &__name span {
      margin-right: 68px;
    }

    &__name input[type="text"] {
      margin-right: 50px;
    }

    &__delete {
      display: inline-block;
      padding-top: 15px;
      font-size: $font-size;
      line-height: $line-height + 6px;
      text-transform: uppercase;
      color: $text-color;
      cursor: pointer;
    }

    &__delete:hover {
      text-decoration: underline;
      color: $pink-color;
    }

    &__delete:active {
      text-decoration: none;
      opacity: 0.3;
    }

    &__nickname {
      margin-bottom: 40px;
      padding-left: 141px;
      text-align: left;
    }

    &__nickname label {
      padding-left: 47px;
    }
  }
}

@media (min-width: $screen_lg) {

  .fieldset-travellers {
    @include container--desktop();
    padding: 0;
    padding-bottom: 35px;

    &__number::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 58px;
      width: 820px;  // ??

      border: 1px solid #e5e5e5;
    }

    &__item {
      position: relative;
      margin-bottom: 23px;
    }

    &__name {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
    }

    &__name input[type="text"] {
      margin-right: 20px;
    }

    &__delete {
      position: absolute;
      right: 57px;
    }

    &__nickname {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      padding-left: 0;
    }

    &__nickname label {
      padding-left: 27px;
    }
  }
}