//
//
// Блок формы для загрузки фотографий

.fieldset-photos {
    @include container();
    border: none;

  &__title {
    margin-bottom: 30px;
    text-align: center;

    font-size: $font-size;
    line-height: $line-height - 6px;
    text-transform: uppercase;
    color: $pink-color;
  }

  &__upload-photo {
    padding-bottom: 33px;
    margin-bottom: 35px;
    border-bottom: 2px solid #e5e5e5;
  }

  &__upload-photo button {
    padding: 15px 0px;

    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    font-weight: $weight-bold;
    color: $text-color;
    background: white;
    text-transform: uppercase;
  }

  &__photos {
    @include clearfix();
  }

  &__photo {
    float: left;
    position: relative;
    margin-right: 39px;
    margin-bottom: 23px;
    width: 67px;
  }

  &__photo:nth-child(3n) {
    margin-right: 0;  // Обнуляем правый маргин у каждой 3-ей фотки
  }

  &__photo::after {   // Крестик для удаления фото
    content: "";

    position: absolute;
    right: -14px;
    top: -14px;
    width: 28px;
    height: 28px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); // По макету как будто бордер
    border-radius: 50%;                     // Но так выглядит лучше
    background: white url('../img/icon_cross.png') no-repeat 50% 50%;
    cursor: pointer;
  }

  &__photo img {  // На всякий случай
    width: 67px;
    height: 68px;
  }

  &__photo span {
    font-size: $font-size - 2px;
    line-height: $line-height - 6px;
    color: $text-color;
  }
}

@media (min-width: $screen_md) {

  .fieldset-photos {
    @include container--tablet();
    padding: 0;
    border: 2px solid #e5e5e5;
    border-radius: 2px;

    &__upload-photo {
      position: relative;
      padding-left: 58px;
      padding-bottom: 41px;
      margin-bottom: 65px;
      border-bottom: none;
    }

    &__upload-photo button {
      width: 500px;
    }

    &__upload-photo::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 58px;
      width: 500px;

      border: 1px solid #e5e5e5;
    }

    &__photos {
      padding-left: 58px;
      padding-right: 58px;
    }

    &__photo {
      margin-right: 70px;
      margin-bottom: 46px;
      width: 120px;
    }

    &__photo:nth-child(3n) {
      margin-right: 0;  // Обнуляем правый маргин у каждой 3-ей фотки
    }

    &__photo::after {   // Крестик для удаления фото
      right: -25px;
      top: -25px;
      width: 50px;
      height: 50px;
      background: white url('../img/icon_cross.png') no-repeat 50% 50%;
    }

    &__photo img {  // На всякий случай
      width: 120px;
      height: 120px;
    }
  }
}

@media (min-width: $screen_lg) {

  .fieldset-photos {
    @include container--desktop();
    padding: 0;

    &__upload-photo button {
      width: 820px;
      background: $pink-color;
      border: $pink-color;
      color: white;
    }

    &__upload-photo::after {
      width: 820px;
    }

    &__photos {
      padding-bottom: 30px;
    }

    &__photo {
      margin-right: 55px;
      margin-bottom: 25px;
    }

    &__photo:nth-child(3n) {
      margin-right: 55px;
    }

    &__photo:nth-child(5n) {
      margin-right: 0;  // Обнуляем правый маргин у каждой 5-й фотки
    }
  }
}