//
//
// Блок основной навигации

.main-nav {
  display: none;

  &--visible {
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    top: 80px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;

    font-family: $font-stack;
    font-size: $font-size + 4px;
    line-height: $line-height + 8px;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding: 18px 0;

    text-align: center;
    text-decoration: none;
    background: $text-color;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000101;
    color: white;
  }
}

@media (min-width: $screen_md) {
  .main-nav {
    &--visible {
      top: 116px;
    }
  }
}

@media (min-width: $screen_lg) {
  .main-nav {
    display: block;
    float: right;
    max-width: 540px;
    font-size: 0;

    &__item {
      display: inline-block;

      vertical-align: top;

      text-transform: none;
      font-size: $font-size + 4px;
      line-height: $line-height - 6px;
      font-weight: $weight-normal;
    }

    &__link {
      padding: 50px 30px;

      //text-align: center;
      //text-decoration: none;
      border: none;
      background: none;
      //outline: 1px solid red;
    }

    &__link:nth-child(4) {
      padding-right: 0;
    }
  }
}