//
//
// Слайдер с отзывами

.review-slider {
  @include container();  // Центровка и ширина
  position: relative;    // Для абсолют. спозиционированых контролов
  padding-top: 50px;
  padding-bottom: 90px;
  background: #fff;
  text-align: center;

  &__controls-wrap {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 140px;
    height: 14px;
    margin-left: -70px;  // Для центровки
    text-align: center;
    z-index: 10;
  }

  &__control {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    background: #bec2c7;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
  }

  &__control--active {
    background: #fff;
    border-color: $text-color;
  }

  //Можно реализовать слайдер на CSS
  //
  // &__slides-wrap {

  // }

  // &__slide {

  // }

  &__author {
    margin-bottom: 18px;

    font-size: $h2-size;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-bold;
  }

  &__author-info {
    display: none;
  }

  &__text {
    font-size: $font-size;
    line-height: $line-height + 6px;
    font-family: $font-stack;
    font-weight: $weight-normal;
  }
}

@media (min-width: $screen_md) {
  .review-slider {
    @include container--tablet();
    padding-top: 0;
    padding-bottom: 75px;

    &__controls-wrap {
      bottom: 20px;
    }

    &__slide {
      position: relative;
      padding-bottom: 95px;
    }

    &__author {
      position: absolute;
      margin-bottom: 30px;
      bottom: 0px;
      left: 50%;
      width: 180px;
      margin-left: -90px;  // Для центровки
      text-align: center;

      font-size: $font-size + 6px;
    }

    &__author-info {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 180px;
      margin-left: -90px;  // Для центровки
      text-align: center;

      font-size: $font-size;
      line-height: $line-height + 6px;
      font-family: $font-stack;
      font-weight: $weight-normal;

      color: $text-color;
    }

    &__text {
      font-size: $font-size + 4px;
    }
  }
}